/*
#2f5858
#33658a
#86bbd8
#f6ae2d
#f26419
*/
h1 {
  text-align: center;
}
.App {
  min-height: 100%;
  background-color: #86bbd8;
}
.field {
  display: flex;
  justify-content: flex-start;
}
.buttonField {
  margin-top: 12px;
  padding: 5px;
  display: flex;
  justify-content: center;
}
button {
  margin: 5px;
  background-color: #2f5858;
  color: #f6ae2d;
  width: 30vw;
}