p {
    width: 50vw;
    text-align: center;
    margin: 50px auto 0 auto;
    padding: 12px;
    color: red;
    font-weight: 900;
    border-radius: 7px;
    background-color: rgba(228, 173, 173, 0.5);
}